<div class="main-container">
  <h1>Todo List</h1>

  <div class="todo-input">
    <input type="text" [(ngModel)]="newTodo.title" placeholder="Digite uma nova tarefa" />
    <button (click)="addTodo()">
      Adicionar
    </button>
  </div>

  <div class="todo-list">
    <h2>Tarefas</h2>

    <p *ngIf="todoList.length === 0" class="empty-message">
      Nenhuma tarefa encontrada.
    </p>

    <ul>
      <li *ngFor="let todo of todoList">
        <span [ngClass]="{'completed': todo.completed}">
          {{ todo.title }}
        </span>

        <div class="todo-actions">
          <button (click)="toggleTodoCompletion(todo)" [ngClass]="{'complete-button': !todo.completed}">
            {{ todo.completed ? 'Desmarcar' : 'Concluir' }}
          </button>

          <button (click)="removeTodo(todo.id)">
            Remover
          </button>
        </div>
      </li>
    </ul>
  </div>
</div>

<router-outlet />